*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}





nav{
    display:flex;
    justify-content: space-around;
    padding:16px;
    
    align-items: center;
}

.nav-logo{
    width:100%;
    max-width:139px;
   margin-left:120px;
}

.nav-list ul{
    width:100%;
    max-width:367px;  
    display:flex;
    list-style-type: none;
    gap:32px;
    align-items: center;;
}

.nav-list a{
    text-decoration:none;
    font-weight:500;
    font-size:16px;
    color:#000000;
}

.nav-btn{
    background-color:#30B868;
    color:#FFFFFF;
    
    font-weight:600;
    font-size:16px;

    border:none;
    border-radius:5px;

    margin:10px;
    padding:12px 16px;
    cursor:pointer;
}
.nav-btn:hover{
    background-color:#18703d;
}

.banner{
    background-image:url(./assets/hero-bg.png);
    background-size: cover ;
    background-repeat:no-repeat;
    padding:115px 120px 180px;
}

.banner-container{
    width:100%;
    max-width:1360px;
    text-align: center;
    
}

.popup{
    display:flex;
    background-color:#FFFFFF;
    
    justify-content:space-between;
    position:relative;
    max-width:250px;

    align-items: center;
    padding:10px 14px;
    border-radius:50px;

    margin-bottom:16px;
    margin-left:560px;
    
}
.popup p{
    font-weight:500;
    font-size: 16px;
    color:#30B868;
}

.popup .outer-dot{
    width:27px;
    height:27px;
    background-color:#30b86974;
    border-radius:50%;
}
.popup .dot::after{
    content: "";
    position:absolute;
    
    width:19px;
    height:19px;

    background-color: #30b869d8;
    border-radius: 50%;
    display:block;
    left:18.2px;
    top:13.7px;
}
.popup .center::after{
    content: "";
    position:absolute;
    width:10px;
    height:10px;

    background-color: #033719;
    border-radius: 50%;
    display:block;
    left:22px;
    top:18px;    

}

.banner-heading{
    max-width:870px;
    font-weight:700;
    font-size:42px;
    color:#FFFFFF;

    text-transform: capitalize;
    margin:0 255px;
    margin-bottom:16px;
}
.banner-heading .second{
        color:#30b869;
}

.banner-text{
    font-weight: 400;
    font-size: 18px;
    color:#FFFFFF;
    text-align:center;
    margin:0 260px;
    margin-bottom:30px;
}
.banner-btn{
    display: flex;
    justify-content: space-around;
    margin:0 427px;

}

.banner .btn1{
    color:#FFFFFF;
    font-weight: 600;
    font-size: 16px;
    padding:16px;
    background-color:#30b869;

    gap:10px;
    display: flex;
    align-items: center;
    justify-content: center;

    border:none;
    border-radius: 5px;
    cursor: pointer;   
}
.btn1:hover{
    background-color: #18703d;
}

.banner .btn2{
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    background-color:transparent;
    border:1px solid #ffffff;
    padding:16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn2:hover{
background-color:lightgray;
}

.note-container{
    background-color: #FAFAFA;
}

.note{
    width:90%;
    max-width:1360px;
    text-align:center;
    margin:0 auto;
    padding-top:50px;
    
}

.note-heading{
    color:#001931;
    font-size: 48px;
    font-weight: 700px;
    text-transform: capitalize;

}
.note p{
    font-size: 16px;
    font-weight: 400;
    color:#627382;
    margin-top:16px;
}

.card-container{
    width: 90%;
    max-width: 1360px;
    display:flex;
    justify-content: space-around;
    
    margin:44px auto;
}

.card{
    max-width: 322px;
    box-shadow:4px -3px 15px rgb(192, 190, 190);
    border-radius: 8px;
    padding:69px 0;
   
}
.card img{
 background-color: #F95555;
 border-radius: 50%;
 padding:10px;
 
 margin-left:121px;

}

.card h3{
    font-weight: 600;
    font-size: 24px;
    color:#001931;
    margin-top:16px;
    text-align: center;
    padding:0 24px;
    text-transform: capitalize;

}

.card p{
    font-size: 16px;
    font-weight:400;
    color:#627382;
    margin-top:16px;
    text-align: center;
    padding: 0 24px;
    text-transform: capitalize;
}

.solution{
    width:90%;
    max-width:1360px;
    margin:100px auto;
    display: flex;
    gap:60px;
}

.solution img{
    border-radius: 10px;
}

.solution .solution-container{
    max-width:700px;
   margin:auto 0;

}

.solution .text-container a{
    text-decoration: none;
    color:#30B868;
    
}

.text-container h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin:16px 0;
    text-transform: capitalize;
}

.text-container .container-title{
    font-weight: 400;
    font-size: 16px;
    color:#627382;
    margin-bottom: 40px;
}

.list-container ul li{
    list-style-type: none;
    list-style-image: url(./assets/icon/CheckCircle.png);
    margin-bottom: 16px;
    margin-left: 25px;

    font-weight: 500;
    font-size: 16px;
    color:#001931;
}

.think-container{
    width:90%;
    max-width:1360px;
    
    padding:80px 40px;
    margin:0 auto;
    background-color: #F7F6F2;
    border-radius: 10px;

}

.text-heading h2{
    font-weight: 700;
    font-size: 40px;
    color:#001931;
    text-align: center;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.text-heading p{
    font-size: 15px;
    font-weight: 400;
    color:#627382;
    text-align: center;
    margin-bottom:24px ;
}

.access-btn button{
    font-weight: 600;
    font-size: 16px;
    color:#FFFFFF;
    background-color: #30B868;

    padding:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:0 auto;
}
.access-btn button:hover{
    background-color: #18703d;
}

.think-container .sub-opt {
    font-size: 16px;
    font-weight: 400;
    color:#627382;
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 16px;
}

footer{
    background-color: #001931;
    padding-top:120px;
    padding-bottom: 30px;

}

.footer-info{
    display: flex;
    justify-content: space-between;

    width: 90%;
    max-width:1360px;

    margin:0 auto;
    margin-bottom: 90px;
}

.footer-links{
    margin-right: 80px;

    
}

.footer-links h4{
    font-size: 20px;
    font-weight: 500;
    color:#FFFFFF;
}

.footer-icon{
    margin-top: 16px;
   
}





.footer-icon span a{
    background-color: #FFFFFF;
    border-radius: 50%;
    padding:2px;
    color:#000000;
    margin:0 5px;

}

hr{
    max-width:1360px;
    margin:0 auto;
}

.copyright{
    font-size: 16px;
    font-weight: 400;
    color:#FAFAFA;

    margin:30px auto;
    text-align: center;
}