*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}






nav{
    display:flex;
    justify-content: space-around;
    padding:16px;
    
    align-items: center;
}

.nav-logo{
    width:100%;
    max-width:139px;
   margin-left:120px;
}

.nav-list ul{
    width:100%;
    max-width:367px;  
    display:flex;
    list-style-type: none;
    gap:32px;
    align-items: center;;
}

.nav-list a{
    text-decoration:none;
    font-weight:500;
    font-size:16px;
    color:#000000;
}

.nav-btn{
    background-color:#30B868;
    color:#FFFFFF;
    
    font-weight:600;
    font-size:16px;

    border:none;
    border-radius:5px;

    margin:10px;
    padding:12px 16px;
    cursor:pointer;
}
.nav-btn:hover{
    background-color:green;
}